@import 'reset';

@font-face {
  font-family: 'MuseoSans500';
  src: url('../fonts/MuseoSans_500-webfont.eot');
  src: url('../fonts/MuseoSans_500-webfont.eot?#iefix'),
    url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
    url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
    url('../fonts/MuseoSans_500-webfont.svg#webfont2XDSeD7G') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* VARIABLES */
$white: #FFF;
$lightGray: #EEE;
$mediumGray: #CCC;
$mediumDarkGray: #999;
$satansGray: #666;
$darkGray: #222;
$modalBkg: rgba(255, 255, 255, .95);
$infoBkg: rgba(255, 255, 255, .5);
$masterPrefix: -webkit- -ms- -moz- -o- null;
$basicPrefix: -webkit- -moz- null;


/* MIXINS */
@mixin box-sizing($var) {
  -webkit-box-sizing:$var;
  -moz-box-sizing:$var;
  box-sizing:$var;
}

@mixin transition($var...) {
  -webkit-transition:$var;
  transition:$var;
}

@mixin flex($grow:null,$shrink:null,$width:null) {
  @if $grow != null {
    @if $width != null {
      -webkit-box-flex:$grow;
      width:$width;
      -moz-box-flex:$grow $shrink $width;
      -ms-flex:$grow $shrink $width;
      -webkit-flex:$grow $shrink $width;
      flex:$grow $shrink $width;
    } @else {
      -webkit-box-flex:$grow;
      -moz-box-flex:$grow $shrink;
      -ms-flex:$grow $shrink;
      -webkit-flex:$grow $shrink;
      flex:$grow $shrink;
    }
  } @else {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
  }
}

@mixin flex-align-content($var) {
  -webkit-align-content:$var;
  -moz-align-content:$var;
  align-content:$var;
}

@mixin flex-align-items($var) {
  @if $var == "flex-end" {
    -webkit-box-align:end;
    -ms-flex-align:end;
    @each $pfx in $basicPrefix {
      #{$pfx}align-items:$var;
    }
  } @else if $var == "flex-start" {
    -webkit-box-align:start;
    -ms-flex-align:start;
    @each $pfx in $basicPrefix {
      #{$pfx}align-items:$var;
    }
  } @else {
    -webkit-box-align:$var;
    -ms-flex-align:$var;
    @each $pfx in $basicPrefix {
      #{$pfx}align-items:$var;
    }
  }
}

@mixin flex-align-self($var) {
  -webkit-align-self:$var;
  align-self:$var;
}

@mixin flex-direction($var) {
  $orient: -webkit- -moz-;
  $box: -webkit- -moz-;
  $flex: -webkit- -ms- -moz- -o-;

  @each $pfx in $box {
    #{$pfx}box-direction:normal;
  }
  @if $var == "column" {
    @each $pfx in $orient {
      #{$pfx}box-orient:vertical;
    }
    @each $pfx in $masterPrefix {
      #{$pfx}flex-direction:$var;
    }
  } @else if $var == "row" {
    @each $pfx in $orient {
      #{$pfx}box-orient:horizontal;
    }
    @each $pfx in $masterPrefix {
      #{$pfx}flex-direction:$var;
    }
  }
}

@mixin flex-justify-content($var) {
  @if $var == "flex-start" {
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  } @else if $var == "flex-end" {
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  } @else if $var == "space-between" {
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  } @else {
    -webkit-box-pack:$var;
    -ms-flex-pack:$var;
    @each $pfx in $basicPrefix {
      #{$pfx}justify-content:$var;
    }
  }
}

@mixin flex-order($var) {
  -webkit-box-ordinal-group:$var;
  -moz-box-ordinal-group:$var;
  -ms-flex-order:$var;
  -webkit-order:$var;
  order:$var;
}

@mixin flex-wrap($var) {
  -webkit-flex-wrap:$var;
  -ms-flex-wrap:$var;
  flex-wrap:$var;
}


body, 
html {
  height: 100%;
}

body {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: $darkGray;
  font-size: 75%;
  position: static;
  margin: 0;
  padding: 0;
  background-color: $white;
}

.wf-loading {
  h1, h2 {
    visibility: hidden;
  }
}

 
.wf-active, 
.wf-inactive {
  h1, h2 {
    visibility: visible;
    font-family: 'MuseoSans500', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  }
}

h1 { 
  color: $lightGray;
  font-weight: normal;
  font-size: 2.4em;
  text-transform: uppercase;
  padding: .5em 1em;
  a {
    color: $mediumGray;
    text-decoration: none;
    &:hover, &:active {
        color: $lightGray;
    }
  }
}

h1.entry-title, h2 { 
  font-size: 2.4em;
  font-weight: normal;
  color: $mediumDarkGray;
  margin: 0 0 1.5em;
  padding: 0;
  text-transform: uppercase;
}

h3 { 
  color: $satansGray;
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 .5em 0;
  clear: both;
}

p { 
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

a { 
  color: $satansGray;
  &:link, &:visited {
    text-decoration: none;
    outline: none;
  }
  a:hover, a:active {
    color: $mediumDarkGray;
    outline: none;
  }
}

/* HEADER */  
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: transparent url(../img/19950709.png) center repeat-y;
  background-size: contain;
  h1 {
    font-size: 2.5em;
    line-height: 1em;
    -moz-text-shadow: #333 -1px 1px 2px;
    -webkit-text-shadow: #333 -1px 1px 2px;
    text-shadow: #333 -1px 1px 2px;
  }
}

/* NAVIGATION */
#access {
  a {
    display: none;
  }
  .menu-header {
    position: absolute;
    top: 1.9em;
    right: 2.5em;
    li {
      display: inline-block;
      font-size: 1.25em;
      line-height: 1em;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      a {
        display: block;
        color: $lightGray;
        margin-right: 1.5em;
        text-decoration: none;
        -moz-text-shadow: #333 -1px 1px 2px;
        -webkit-text-shadow: #333 -1px 1px 2px;
        text-shadow: #333 -1px 1px 2px;
        &:hover {
          color: $white;
        }
      }
      &:last-child a {
        margin-right: 0;
      }
    }
  }
}

/* CONTENT */
#content { 
  margin: 0 2em;
  padding: 8.5em 0 5.5em;
  width: auto;
  article {
    h2 {
      font-size: 1.6em;
      line-height: 1.2em;
      margin: 0 0 .5em;
    }
    p {
      font-size: 1.2em;
      line-height: 1.4em;
    }
    .post-meta {
      li {
        font-size: 1.2em;
        line-height: 1.2em;
        margin: 0 0 .5em;
        span {
          display: none;
        }
      }
    }
    dl {
      margin: 0 0 2em;
    }
    dt {
      color: $mediumDarkGray;
      float: left;
      font-size: 1.2em;
      line-height: 1.75em;
      font-weight: bold;
    }
    dd {
      font-size: 1.4em;
      line-height: 1.5em;
      margin-bottom: .75em;
      margin-left: 3em;
    }
  }
  .gallery {
    margin: 0 0 2.5em;
    overflow: auto;
    li {
      display: inline-block;
      margin: 0 1em 2em 0;
      &:last-child {
        margin-right: 0;
      }
      a {
        background-color: $lightGray;
        padding: .5em;
        display: block;
        &:hover, &:active {
          background-color: $mediumGray;
          border: none;
        }
        &.active {
          .info {
            display: block;
          }
        }
        .info {
          display: none;
          background-color: $infoBkg;
          position: absolute;
          bottom: .5em;
          left: .5em;
          text-align: left;
          padding: 1em;
          h2 {
            color: $darkGray;
            font-size: 1.75em;
            margin: 0 0 .25em;
          }
          li {
            color: $darkGray;
            display: block;
            margin: 0 0 .25em;
          }
        }
      }
    }
  }
  .post-info {
      width: 25%;
      float: left;
      padding: 0 5% 0 0;
  }
  .post-content {
      margin: 0 0 0 30%;
  }
}

/* FOOTER */
footer { 
  background-color: $mediumGray;
  color: $white;
  font-size: 1em;
  line-height: 2em;
  padding: 1em 2.5em;
  p {
    clear: both;
    margin: 0 0 .75em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    a {
      margin: 0 1.5em 0 0;
    }
    :last-child a {
      margin-right: 0;
    }
  }
}

/* MODAL */
#modal {
  background-color: $modalBkg;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  @include transition(opacity 1s ease-in, z-index 0s 1s);
  &.display {
    opacity: 1;
    z-index: 10;
    @include transition(opacity 1s ease-out, z-index 0s);
    @include flex();
    @include flex-direction(column);
    @include flex-justify-content(center);
    @include flex-align-content(center);
  }
  .count {
    color: $mediumDarkGray;
    text-align: center;
    padding: 2em 0;
  }
}
.modal-content {
  padding: 6em 4em 0;
  .info {
    margin: .5em auto 0;
  }
  h2 {
    margin: 0 0 .25em;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
.modal-nav {
  position: absolute;
  top: 50%;
  margin-top: -2em;
  height: 4em;
  width: 100%;
  a {
    display: block;
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 0;
    width: 0;
    &.previous {
      border-right: 2em solid $lightGray;
      float: left;
      margin-left: 1em;
      &:hover, &:active {
        border-right-color: $mediumGray;
      }
    }
    &.next {
      border-left: 2em solid $lightGray;
      float: right;
      margin-right: 1em;
      &:hover, &:active {
        border-left-color: $mediumGray;
      }
    }
  }
}

header, 
#content, 
footer {
  .blur & {
    -webkit-filter: blur(.5em);
  }
}


/* FORMS */
form { 
  bottom: 0;
  color: $satansGray;
}
label { 
  display: block;
  margin: 1.33333333em 0 .3333333em 0;
  font-size: 1.2em;
  text-transform: uppercase;
  color: $mediumDarkGray;
}
input, 
textarea { 
  display: block;
  font-size: 1.2em;
  margin: 0 0 1em 0;
  padding: .5em .25em;
}
input[type=submit] {
  border: 2px solid $mediumDarkGray;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $mediumGray;
  padding: .25em .75em;
}


@media screen and (max-width: 580px) {
  #content {
    .gallery {
      text-align: center;
      li {
        margin: 0 0 2em;
        a {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  header {
    h1 {
      text-align: center;
      padding: .25em 0;
    }
  }
  #access {
    .menu-header {
      position: static;
      ul {
        text-align: center;
        padding-bottom: .5em;
      }
    }
  }
  #content {
    padding: 7em 0 2em;
    .gallery {
      li {
        a {
          position: relative;
          img {
            width: 100%;
            max-width: 284px;
          }
          .info {
            display: none;
          }
        }
      }
    }
  }
  footer {
    li {
      a {
        margin-right: .5em;
      }
    }
  }
}