abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  background: 0 0;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 100%; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

input, select, textarea {
  font: 99% sans-serif; }

input[type=radio] {
  vertical-align: text-bottom; }

input[type=checkbox] {
  vertical-align: bottom; }

.ie6 input {
  vertical-align: text-bottom; }

button, input[type=button], input[type=submit], label {
  cursor: pointer; }

button {
  width: auto;
  overflow: visible; }

a img {
  border: none; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

code, kbd, pre, samp {
  font-family: monospace,sans-serif; }

small {
  font-size: 85%; }

strong, th {
  font-weight: 700; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

::-moz-selection {
  text-shadow: none; }

::selection {
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.95); }

@font-face {
  font-family: 'MuseoSans500';
  src: url("../fonts/MuseoSans_500-webfont.eot");
  src: url("../fonts/MuseoSans_500-webfont.eot?#iefix"), url("../fonts/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/MuseoSans_500-webfont.ttf") format("truetype"), url("../fonts/MuseoSans_500-webfont.svg#webfont2XDSeD7G") format("svg");
  font-weight: normal;
  font-style: normal; }
/* VARIABLES */
body,
html {
  height: 100%; }

body {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #222222;
  font-size: 75%;
  position: static;
  margin: 0;
  padding: 0;
  background-color: white; }

.wf-loading h1, .wf-loading h2 {
  visibility: hidden; }

.wf-active h1, .wf-active h2,
.wf-inactive h1,
.wf-inactive h2 {
  visibility: visible;
  font-family: 'MuseoSans500', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

h1 {
  color: #eeeeee;
  font-weight: normal;
  font-size: 2.4em;
  text-transform: uppercase;
  padding: .5em 1em; }
  h1 a {
    color: #cccccc;
    text-decoration: none; }
    h1 a:hover, h1 a:active {
      color: #eeeeee; }

h1.entry-title, h2 {
  font-size: 2.4em;
  font-weight: normal;
  color: #999999;
  margin: 0 0 1.5em;
  padding: 0;
  text-transform: uppercase; }

h3 {
  color: #666666;
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 .5em 0;
  clear: both; }

p {
  line-height: 1.2em;
  margin: 0 0 1em 0; }

a {
  color: #666666; }
  a:link, a:visited {
    text-decoration: none;
    outline: none; }
  a a:hover, a a:active {
    color: #999999;
    outline: none; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: transparent url(../img/19950709.gif) center repeat-y; }
  header h1 {
    font-size: 2.5em;
    line-height: 1em;
    -moz-text-shadow: #333 -1px 1px 2px;
    -webkit-text-shadow: #333 -1px 1px 2px;
    text-shadow: #333 -1px 1px 2px; }

/* NAVIGATION */
#access a {
  display: none; }
#access .menu-header {
  position: absolute;
  top: 1.9em;
  right: 2.5em; }
  #access .menu-header li {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
    #access .menu-header li a {
      display: block;
      color: #eeeeee;
      margin-right: 1.5em;
      text-decoration: none;
      -moz-text-shadow: #333 -1px 1px 2px;
      -webkit-text-shadow: #333 -1px 1px 2px;
      text-shadow: #333 -1px 1px 2px; }
      #access .menu-header li a:hover {
        color: white; }
    #access .menu-header li:last-child a {
      margin-right: 0; }

/* CONTENT */
#content {
  margin: 0 2em;
  padding: 8.5em 0 5.5em;
  width: auto; }
  #content article h2 {
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 0 0 .5em; }
  #content article p {
    font-size: 1.2em;
    line-height: 1.4em; }
  #content article .post-meta li {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0 0 .5em; }
    #content article .post-meta li span {
      display: none; }
  #content article dl {
    margin: 0 0 2em; }
    #content article dl dt {
      color: #999999;
      float: left;
      font-size: 1.2em;
      line-height: 1.75em;
      font-weight: bold; }
    #content article dl dd {
      font-size: 1.4em;
      line-height: 1.5em;
      margin-bottom: .75em;
      margin-left: 3em; }
  #content .gallery {
    margin: 0 0 2.5em;
    overflow: auto; }
    #content .gallery li {
      display: inline-block;
      margin: 0 1em 2em 0; }
      #content .gallery li:last-child {
        margin-right: 0; }
      #content .gallery li a {
        background-color: #eeeeee;
        padding: .5em;
        display: block; }
        #content .gallery li a:hover, #content .gallery li a:active {
          background-color: #cccccc;
          border: none; }
        #content .gallery li a.active .info {
          display: block; }
        #content .gallery li a .info {
          display: none;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          bottom: .5em;
          left: .5em;
          text-align: left;
          padding: 1em; }
          #content .gallery li a .info h2 {
            color: #222222;
            font-size: 1.75em;
            margin: 0 0 .25em; }
          #content .gallery li a .info li {
            color: #222222;
            display: block;
            margin: 0 0 .25em; }
  #content .post-info {
    width: 25%;
    float: left;
    padding: 0 5% 0 0; }
  #content .post-content {
    margin: 0 0 0 30%; }

/* FOOTER */
footer {
  background-color: #cccccc;
  color: white;
  font-size: 1em;
  line-height: 2em;
  padding: 1em 2.5em; }
  footer p {
    clear: both;
    margin: 0 0 .75em; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        margin: 0 1.5em 0 0; }
      footer ul li :last-child a {
        margin-right: 0; }

/* MODAL */
#modal {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }
  #modal.display {
    display: flex;
    align-content: center; }
  #modal .modal-content {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 6em 4em 0; }
    #modal .modal-content h2 {
      margin: 0 0 .25em; }
    #modal .modal-content img {
      display: block;
      margin: 0 auto; }
  #modal .modal-nav {
    position: absolute;
    top: 50%;
    margin-top: -2em;
    height: 4em;
    width: 100%; }
    #modal .modal-nav a {
      display: block;
      border-top: 2em solid transparent;
      border-bottom: 2em solid transparent;
      text-indent: 100%;
      whitespace: nowrap;
      overflow: hidden;
      height: 0;
      width: 0; }
      #modal .modal-nav a.previous {
        border-right: 2em solid #eeeeee;
        float: left;
        margin-left: 1em; }
        #modal .modal-nav a.previous:hover, #modal .modal-nav a.previous:active {
          border-right-color: #cccccc; }
      #modal .modal-nav a.next {
        border-left: 2em solid #eeeeee;
        float: right;
        margin-right: 1em; }
        #modal .modal-nav a.next:hover, #modal .modal-nav a.next:active {
          border-left-color: #cccccc; }
  #modal .count {
    color: #999999;
    position: absolute;
    text-align: center;
    width: 10em;
    bottom: 1em;
    left: 50%;
    margin-left: -5em; }

.blur header, .blur
#content, .blur
footer {
  -webkit-filter: blur(0.5em); }

/* FORMS */
form {
  bottom: 0;
  color: #666666; }

label {
  display: block;
  margin: 1.33333333em 0 .13333333em 0;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #999999; }

input,
textarea {
  display: block;
  margin: 0 0 1em 0; }

input#submit {
  border: 2px solid #999999;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #cccccc;
  padding: .25em .75em; }

@media screen and (max-width: 580px) {
  #content .gallery {
    text-align: center; }
    #content .gallery li {
      margin: 0 0 2em; }
      #content .gallery li a {
        display: inline-block; } }
@media screen and (max-width: 540px) {
  header h1 {
    text-align: center;
    padding: .25em 0; }

  #access .menu-header {
    position: static; }
    #access .menu-header ul {
      text-align: center;
      padding-bottom: .5em; }

  #content {
    padding: 7em 0 2em; }
    #content .gallery li a {
      position: relative; }
      #content .gallery li a img {
        width: 100%;
        max-width: 284px; }
      #content .gallery li a .info {
        display: none; }

  footer ul li a {
    margin-right: .5em; } }

/*# sourceMappingURL=styles.css.map */
